<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="topbar">
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <div class="" sec:authorize="isAuthenticated()">
                    <svg data-jdenticon-value="user" width="22" height="22" class="rounded border"></svg>
                    <!--<svg data-jdenticon-value="user"  th:data-jdenticon-value="${#authentication.name}" width="22" height="22" class="rounded border bg-light"></svg>-->
                    <a th:href="@{'/profile/' + ${#authentication.name}}">Hi, <span th:text="${#authentication.name}"></span></a>
                    <a th:href="@{/notifications}"><i class="far fa-bell" aria-hidden="true"></i></a>
                    <a th:href="@{/logout}"><i class="far fa-hand" aria-hidden="true"></i></a>
                    <!--<i class="icofont-envelope"></i><a
                        th:href="@{mailto:parksangdonews@gmail.com}">parksangdonews@gmail.com</a>
                    <i class="icofont-phone"></i> +82 10 9999 4295-->
                    <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
            <div class="social-links">
                <a th:href="@{#}" class="twitter"><i class="icofont-twitter"></i></a>
                <a th:href="@{#}" class="facebook"><i class="icofont-facebook"></i></a>
                <a th:href="@{#}" class="instagram"><i class="icofont-instagram"></i></a>
                <a th:href="@{#}" class="skype"><i class="icofont-skype"></i></a>
                <a th:href="@{#}" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>
        </div>
    </section>


    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a th:href="@{/index}"><span>TTP BOOKS</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a th:href="@{index"><img src="/assets/img/logo.png}" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a th:href="@{/index}">Home</a></li>

                    <li class="drop-down"><a th:href="@{#}">About</a>
                        <ul>
                            <li><a th:href="@{/link/about}">About Us</a></li>
                            <li><a th:href="@{/link/team}">Team</a></li>


                            <li class="drop-down"><a th:href="@{#}">Drop Down 2</a>
                                <ul>
                                    <li><a th:href="@{#}">Deep Drop Down 1</a></li>
                                    <li><a th:href="@{#}">Deep Drop Down 2</a></li>
                                    <li><a th:href="@{#}">Deep Drop Down 3</a></li>
                                    <li><a th:href="@{#}">Deep Drop Down 4</a></li>
                                    <li><a th:href="@{#}">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a th:href="@{/link/services}">Services</a></li>
                    <li><a th:href="@{/link/book-api}">Book API</a></li>
                    <li><a th:href="@{/link/portfolio}">Project</a></li>
                    <li><a th:href="@{/link/pricing}">Code</a></li>
                    <li><a th:href="@{/link/blog}">Blog</a></li>
                    <li><a th:href="@{/link/contact}">Contact</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/sign-up}">Sign-up</a></li>
                    <li class="drop-down" sec:authorize="isAuthenticated()"><a th:href="@{#}">Member</a>
                        <ul>
                            <!--<li><a th:href="@{/link/member}">Member</a></li>-->
                            <li><a th:href="@{'/profile/' + ${#authentication.name}}"><span
                                    th:text="${#authentication.name}"></span>'s Profile</a></li>
                            <li><a th:href="@{/settings/profile}">Setting</a></li>
                            <li><a th:href="@{/logout}">Logout</a></li>
                            <!--<li class="drop-down"><a th:href="@{#}">Study</a>
                                <ul>
                                    <li><a th:href="@{#}">Open</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>


                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

</th:block>


</html>
