<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/defaultLayout}"
      lang="ko">


<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">TTP</title>
    <th:block th:fragment="header">
    </th:block>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <meta name="theme-color" content="#7952b3">


</head>


<th:block layout:fragment="topbar"/>
<th:block layout:fragment="content">

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Login</li>
                </ol>
                <h2>TTP</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <div class="container">
            <div class="py-5 text-center">
                <h2>Login</h2>
            </div>
            <div class="row justify-content-center">
                <form class="needs-validation" action="/login" th:action="@{/login}" method="post" novalidate>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username or password.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input id="email" type="email" name="username" class="form-control"
                               placeholder="your@email.com" aria-describedby="emailHelp" required>
                        <small class="invalid-feedback">이메일을 입력하세요.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">패스워드</label>
                        <input id="password" type="password" name="password" class="form-control"
                               aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                        <small class="invalid-feedback">패스워드를 입력하세요.</small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">LOGIN
                        </button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                </form>
            </div>
        </div>
    </main>
</th:block>

<th:block th:fragment="footer"></th:block>

<th:block th:fragment="script"></th:block>

<script type="text/javascript">

    let showBooks = function (data) {

        console.log("data")
        console.log(data['items'])

        $("#services .container .row ").empty();

        if (data['errorCode'] == "") {
            alert("조회오류" + data['errorCode'] + " / " + data['errorMessage'])
            return;
        }

        data['items'].forEach(function (e) {
            $("#services .container .row ").append(
                '<div class="col-lg-4 col-md-6 d-flex align-items-stretch">' +
                '<div class="icon-box">' +
                '<div class="icon"><img src="' + e['image'] + '" style="margin-bottom: 5px"/></div>' +
                '<div class=""></div>' +
                '<h6><a href="">' + e['title'] + '</a></h6>' +
                '<h6><a href="">' + e['author'] + ' / ' + e['publisher'] + '</a></h6>' +
                '<p>' + e['description'] + '</p>' +
                '</div>' +
                '</div>')
        });
    }

    $(document).ready(function () {


        $("#book-search-btn").click(function () {
            let query = $("#barcode-input").val();
            let display = 24; // default : 24
            let start = 1; // default : 1
            let sort = "sim" // default : sim
            let bookSearchInput = {query, display, start, sort};

            console.log(bookSearchInput);

            if (query.length <= 2) return;

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            console.log(header);
            console.log(token);

            $.ajax({
                type: "POST",
                url: "/api/bookApi",
                data: bookSearchInput,
                header: {header: token},
                success: function (data) {
                    console.log(data);
                    showBooks(data)
                },
                dataType: "json"
            });
            //....
        });
    });
</script>


</html>

